*{
    font-family: 'Ubuntu', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100vh;
}

/* Sección del nav y header */

header{
    display: flex;
    flex-direction: row;
    background-color: #0a1a2a;
    gap: 10rem;
    padding: 2rem;
}

.logo{
    text-decoration: none;
    width: 35rem;
    height: 5rem;
    background-color: none;
}

.banner-principal{
    background-image: url(../img/medellin.jpg);
    position: relative;
    height: 75rem;
    width: auto;
    background-size: cover;
    background-repeat: none;
    padding: 5rem;

}

.banner-principal h1{
    text-align: center;
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
}


.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    margin-left: 50rem;
}

.nav-principal a{
    text-decoration: none;
    color: white;
}

button{
    width: 10rem;
    height: 3.5rem;
}

.boton-ingresar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 55rem;
}

.boton-ingresar a{
    text-decoration: none;
    color: black;
}

/* Sección information */
.Information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12rem;
    gap: 5rem;
    margin-top: 4rem;
}

.Information>img{
    display: flex;
    justify-content: flex-start;
    border-radius: 10%;
}

.title-information{
    display: flex;
    font: 700;
    font-size: 50px;
}

.text-information{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    padding: 5px;
}

/* Section cards */
.cards-places{
    margin: 10rem;
    margin-top: 12rem;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center center;
    /* gap: 14rem; */
}

.imagen-sitios{
    width: 70rem;
    display: block;
    border-radius: 20px 20px 0 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    padding: 10px;
    grid-gap: 40px;
}

.card1{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0,0,0,0.18);
}
.card2{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0,0,0,0.18);
}
.card3{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0,0,0,0.18);
}
.card4{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0,0,0,0.18);
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
/* .card1>.container::after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container::after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container::after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}

.card4>.container::after{
    background-image: linear-gradient(
        135deg,
        #e32b4a,
        #42ffdb
    );
} */

.detalles{
    padding: 2rem 2rem;
}

.detalles>h3{
    color: #ffff;
    font-weight: 600;
    font-size: 3rem;
    margin: 10px 0 15px 0;
}

.detalles>a{
    text-decoration: none;
    color: #a0a0a0;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 400;
}


/* Footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 3rem;
}

.pie-pagina .grupo1 .box p{
    color: #fff;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .red-social a:hover{
    color: #2a4a68;
}

.pie-pagina .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}

@media screen and (max-width: 800px){
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}

/* Login */
.formulario{
    position: relative;
    top: 25%;
    left: 50%;
    margin-bottom: 100px;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #0d2033;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    color: white;
    background: none;
    outline: none;
}

.username label{
    position: relative;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translate(50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #0d2033;
    transition: .5s;
}

.register{
    margin: 30px 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(241, 241, 241);
}

.register a{
    color:black;
    text-decoration: none;
}

.register a:hover{
    text-decoration: none;
}